.brand { color: #3273dc;}

@media (max-width: 642px) {
    .field.is-grouped > .control:not(:last-child) {
        margin-right: 0;
    }
}

html, body {
   height: 100%;
}
 body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

#myfooter {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}